<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Holidayz</title>
  <link rel="stylesheet" href="/css/navbarFooterStyle.css">
  <!-- Google Font for better typography -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap" rel="stylesheet">

  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
 
</head>
<body>
  
  <div class="sticky-top ">
    <nav class="navbar navbar-expand-lg sticky-top border">
      <div class="container-fluid">
        <a class=" navbar-brand logo" href="/listings">
          <h1>Holidayz</h1> 
        </a>
       
        <div class="navbar-searchbar ms-auto">
          <form class="d-flex" action="#" method="GET">
            <label for="searchbar" class="visually-hidden">Search Destination</label>
            <input class="form-control" id="searchbar" type="search" name="query" placeholder="Search Destination" required>
            <!-- <button type="submit">&#128269;</button> -->
  
            <button type="submit">
              <svg width="30" height="30" viewBox="0 0 24 24" fill="black" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 4a7 7 0 1 1-4.95 2.05A7 7 0 0 1 11 4m0-2a9 9 0 1 0 6.36 2.64A9 9 0 0 0 11 2Zm10.7 19.3l-4.7-4.7a1 1 0 0 0-1.42 1.42l4.7 4.7a1 1 0 0 0 1.42-1.42Z"/>
              </svg>
            </button>
            
  
          </form>
        </div>
        
  
        <div class="ms-auto" >
  
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/listings/new">Showcase Your Space</a>
            </li>
           <% if(!currUser){ %>
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/signup">Signup</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/login">Login</a>
            </li>
            
          <% } %> 
  
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/listings/new">About</a>
          </li>
          
  
          <% if(currUser){ %>
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/logout">Logout</a>
            </li>
          <% } %> 
            
          </ul>
          
        </div>
      </div>
  
      
    </nav>

    <!-- ---------------------------------------------------------------------------------------------------------------------- -->


   
  </div>

  
</body>
</html>
